/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,300&display=swap');*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}
p, li{
  font-size: 1.6rem;
  margin-bottom: 0.5em;  
  letter-spacing: 0.15em;
}
h1, h2, h3{
    margin: 1rem 0;
    letter-spacing: 0.15em;
    font-weight: 500px;
}

/* ######    Utitlity Classes    ####### */
.container nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    padding-top:1rem ;
    padding-right: 1rem;
}
 /* .container{
    padding: 0 1rem;
}  */
 .container p {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.container nav{
    background: #f0eded;
}
.container .sub-main h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.container nav .nav-items{
    display: flex;
    gap: 30px;
    padding:1rem ; 
}

a{
    color: black;
}

.nav-items a:hover {
    border-bottom: 2px solid black;
} 
 .logo{
    padding: 0 1rem;
    display: flex;
    justify-content:space-between ;
    align-items: center;
 }





/* ############# img ############# */


.img-nav{
    border: 2px solid black;
    margin-top: 2rem;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
 .img-nav .box img{
    height: 200px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover; 
}
.img-nav p{
    border-bottom: 6px solid black;
}

/* #############Footer Styling########## */

.footer{
    background-color:  #263238;
    color: #f4f4f4; 
    text-align : center;
}

.social-media i{
    padding:1em;
}

.footer p{
    font-size: 1.5rem;
} 